NODE_ENV=development
HOST=0.0.0.0
PORT=4000
SERVER_URL=
DB_NAME=db
DB_USER=root
DB_PASSWORD=localpassword
DB_HOST=localhost
DB_PORT=5432
FE_URL=http://localhost:3000/
SENTRY_URL=
DB_NAME_TEST=database_test
JWT_SECRET=
TEST_EMAIL=test@gmail.com
TEST_PASSWORD=password
npm_package_version=1.0.0
